.BBP__AddToCart_Button {
  width: 100%;
  color: #fff;
  background: #000;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0 !important;
  padding: 0.8rem 0 !important;
  transition: 0.2s;
  border-radius: 4px !important;
  height: 45px;

  .BBP__AddToCart_Button_Text {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 6px;
    text-transform: capitalize;
    font-weight: bold;

    svg > path {
      fill: rgb(255, 255, 255);
    }
  }

  &:hover svg > path {
    fill: rgb(255, 255, 255);
  }
  &:active svg > path {
    fill: rgb(255, 255, 255);
  }
}
