.BBP__Banner {
  height: 835px;
  width: 66%;
  background-size: cover;
  border-radius: 12px;
}

@media (max-width: 1075px) {
  .BBP__Banner {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .BBP__Banner {
    border-radius: 0;
  }
}
