.BBP_Coupon__Notification {
  margin: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  color: #fff !important;
  font-weight: 100 !important;
  background: #000 !important;
  text-align: center !important;
  z-index: 3;
}
