.BBP_Forgot_Password__Container {
  max-width: 350px;
  hr {
    color: #ccc;
  }
  .BBP_Forgot_Password__Heading {
    font-size: 1.6rem;
  }
  .BBP_Forgot_Password__Sign_In {
    font-size: 1.1rem;
    font-weight: 100;
    a {
      color: #5782bf;
    }
  }
  .BBP_Forgot_Password_Reset__Button {
    display: flex;
    align-items: center;
  }
  .BBP_Button_Loading__Spinner {
    margin: 0 0 0 0.3rem;
  }
  .BBP_Forgot_Password_Success__Text {
    font-weight: 100;
  }
}
