.BBP_Profile__Container {
  margin: 1.5rem 0;
}
.BBP_Profile__Name {
  color: #ccc;
}
.BBP_Profile__Nav {
  list-style: none;
  padding: 0;
  line-height: 2;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: block;
}
.BBP_Profile_Nav__Item {
  display: flex;
}
