.SingleItemBuyNowButton {
  padding: 0 0.5rem;
  font-size: 0.7rem;
  background: #f4f4f4;
}
.SingleItemBuyNowButtonSelected {
  padding: 0 0.5rem;
  font-size: 0.7rem;
  background: #000;
  color: #fff;
}
