.BBP_Subscribe__TextContent {
  font-weight: 100 !important;
}
.BBP_Subscribe__Container {
  max-width: 350px;
}
.BBP_Subscribe__Form {
  margin: 1rem 0 !important;
}
.BBP_Subscribe_Form__Success {
  margin: 1rem 0;
}
