<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>

    <table
      align="center"
      width="100%"
      data-id="__react-email-container"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="max-width:37.5em;border-width:1px;border-style:solid;border-color:rgb(234,234,234);border-radius:0.25rem;margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;padding:20px;width:465px"
    >
      <tbody>
        <tr style="width:100%">
          <td>
            <table
              align="center"
              width="100%"
              data-id="react-email-section"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin-top:32px"
            >
              <tbody>
                <tr>
                  <td><img
                      data-id="react-email-img"
                      alt="BBP Music Library"
                      src="cid:logo"
                      width="62"
                      height="59"
                      style="display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto"
                    /></td>
                </tr>
              </tbody>
            </table>
            <h1
              data-id="react-email-heading"
              style="color:rgb(0,0,0);font-size:16px;font-weight:bold;text-align:center;padding:0px;margin-top:30px;margin-bottom:30px;margin-left:0px;margin-right:0px"
            >Someone has a message for you
            </h1>
            <p
              data-id="react-email-text"
              style="font-size:14px;line-height:24px;margin:16px 0;color:rgb(0,0,0)"
            ></p>
            <ul style="list-style-type:none">
              <li><strong>Email:</strong> {{email}}</li>
              <li><strong>First Name:</strong> {{firstName}}</li>
              <li><strong>Last Name:</strong> {{lastName}}</li>
              <li><strong>Message:</strong> {{message}}</li>
            </ul>
            <hr
              data-id="react-email-hr"
              style="width:100%;border:none;border-top:1px solid #eaeaea;border-width:1px;border-style:solid;border-color:rgb(234,234,234);margin-top:26px;margin-bottom:26px;margin-left:0px;margin-right:0px"
            />
            <p
              data-id="react-email-text"
              style="font-size:12px;line-height:24px;margin:16px 0;color:rgb(102,102,102)"
            >This invitation was intended for
              <span style="color:rgb(0,0,0)">eckosneekz </span>.This invite was
              sent from
              <span style="color:rgb(0,0,0)">204.13.186.218</span>
              located in
              <span style="color:rgb(0,0,0)">São Paulo, Brazil</span>. If you
              were not expecting this invitation, you can ignore this email. If
              you are concerned about your account's safety, please reply to
              this email to get in touch with us.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>