.about {
  padding: 4rem 4rem 8rem;
  position: absolute;
  top: 12rem;
  background: rgb(255, 255, 255);
  /* left: 0; */
  right: 0;
  width: 750px;
  margin: 0 auto;
  /* border-radius: 12px; */
  font-weight: 100;
  /* opacity: 0.80;*/

  .about__text {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

@media (min-width: 575px) {
  .about__mainContainer {
    padding: 0 3rem;
  }
}

@media (max-width: 575px) {
  .about {
    padding: 2rem 2rem 5rem !important;
    margin: 0 auto;
    width: 93% !important;
  }
}

@media (max-width: 1079px) {
  .about {
    position: initial;
  }
}
