.cart {
    padding: 0 1rem;
    .cart__header {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        .cart__headerText {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 100;
        }
    }

    .cart__table {
        width: 100%;
        td {
            vertical-align: top;
        }
    }

    th { font-weight: 100; }
    td { 
    font-weight: 100;

    padding: 1rem 0 0 0;

        &:first-child, &:nth-child(2) {
            padding: 1rem;
        }
    }
    .cart__right {
       .cart__subtotal {
            display: flex;
            justify-content: flex-end;
        }
    }
    .cart__button {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.9rem 2rem;
        letter-spacing: 2px;
    }
    .cart__taxesTxt {
        text-align: right;
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: uppercase; 
        font-size: 0.7rem;
    }
}

@media(max-width: 575px) {
    .cart__grid {
        display: initial !important;
    }
    .cart__table {
        thead {
            position: absolute;
            clip: rect(0 0 0 0);
        }
        td:first-child {
            padding: 1rem 1rem 0 0;
        }
        td:nth-child(3),
        td:last-child {
            display: none;
        }
    }

    .cart__subtotal {
        display: initial !important;
        .cart__subtotalText {
            display: flex;
            justify-content: space-between;
        }
    }

    .cart__checkoutBtnContainer {
        text-align: center !important;
    }
    .cart__taxesTxt {
        text-align: center !important;
        padding: 3rem 0 0 0;
    }
}