.cart {
    padding: 0 1rem;
    .cart__header {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        .cart__headerText {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 100;
        }
    }

    .cart__table {
        width: 100%;
        th { font-weight: 100; }

        td {
            vertical-align: top;
            font-weight: 100;
            padding: 1rem 0 0 0;
            &:first-child, &:nth-child(2) {
                padding: 1rem;
            }
        }
        .cart__itemRemove {
            color: #ccc;
            font-size: 0.8rem;
        }
    }

    .cart__right {
       .cart__subtotal {
            display: flex;
            justify-content: flex-end;
        }
    }
    .cart__button {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.9rem 2rem;
        letter-spacing: 2px;
    }
    .cart__taxesTxt {
        text-align: right;
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: uppercase; 
        font-size: 0.7rem;
    }

    .cart__itemRow {
        border-bottom: solid 1px #e2e2e2;

        .cart__qty {
            width: 45px; 
            border: solid 1px #e2e2e2; 
            font-weight: 100;
        }
    }

    .cart__itemImg {
        width: 130px;
    }
}

@media(max-width: 575px) {
    .cart__grid {
        display: initial !important;
    }
    .cart__table {
        thead {
            position: absolute;
            clip: rect(0 0 0 0);
        }
        td {
            width: initial !important;
            &:first-child {
                padding: 1rem 1rem 0 0;
            }
            &:nth-child(3),
            &:last-child {
                display: none;
            }
        }

        img {
            border-radius: 50%;
            width: 60px;
        }
        .cart__itemRow {
            border-bottom: none;
        }
    }

    .cart__subtotal {
        display: initial !important;
        .cart__subtotalText {
            display: flex;
            justify-content: space-between;
        }
    }

    .cart__checkoutBtnContainer {
        text-align: center !important;
    }
    .cart__taxesTxt {
        text-align: center !important;
        padding: 3rem 0 0 0;
    }
    .cart__button {
        padding: 0.9rem 2rem !important;
    }
}