.category {
  margin: 2rem 0;
  padding: 0 0 7rem;

  .category__results {
    margin: 2rem 0;
    font-size: 1rem;

    .category__results_name {
      color: #bfbfbf;
      font-weight: bold;
    }
  }

  .category__row {
    display: flex;
    margin: 0.5rem 0 0rem 0;
    transition: 0.22s ease-in-out;

    .category__row__img {
      border-radius: 12px;
      transition: 0.22s ease-in-out;
    }

    .category__row__img:hover {
      opacity: 0.8;
    }

    .category__row__img:active {
      opacity: 0.5;
    }

    .category__results_row_description {
      width: 100%;
      padding: 0 0 0 1rem;
      font-weight: 300;

      .category__price {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 575px) {
  .category {
    .category__row {
      display: block;
      padding: 1rem;

      .category__results_row_description {
        padding: 0;
      }
    }
  }
}
