.Confirm__heading {
    color: #4c4c4c;
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 100;
}

.Confirm__headingSuccess {
    display: flex;
}

@media(min-width: 575px) {
    .Confirm__success_payment {
        padding: 3rem;
        background: #fbfbfb
    }
}

@media(max-width: 575px) {
    .Confirm__success_payment {
        padding: 1rem;
        background: #fbfbfb
    }
}