.contact {
  top: 27rem;
  background: rgb(255, 255, 255, 1);
  left: 0;
  right: 0;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 2px;
  font-weight: 100;

  .contact__text {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

@media (min-width: 575px) {
  .contact__mainContainer {
    padding: 0 3rem;
  }
  // .contact {
  //   padding: 2rem 9rem 8rem;
  // }
}

@media (min-width: 1025px) {
  .contact__mainContainer {
    padding: 0 3rem;
  }
  .contact {
    padding: 2rem 9rem 8rem;
  }
}

@media (max-width: 575px) {
  .contact {
    padding: 0 !important;
    margin: 0 auto;
    width: 93% !important;
  }
}
