.footer {
  width: 100%;
  height: 57px;
  background: #000;
  position: fixed;
  bottom: 0;
  z-index: 1;

  .footer__container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__text {
      color: #fff;
      font-size: 0.74rem;
      margin: 0;
      font-weight: 300;
    }

    .built_by {
      color: #729cda;
      font-weight: bold;
    }
  
    svg {
      path {
        transition: .12s ease-in-out;
        &:hover {
          fill: #729cda;
        }
      }
    }
  }
}
