* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

::selection {
  color: #fff;
  background: rgb(32, 32, 32);
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/fonts/HelveticaNeueMedium.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/fonts/HelveticaNeueLight.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 992px) {
  .container {
    width: 1024px !important;
  }

  .skeleton-loading-container {
    margin: "0 0 0 0.6rem"
  }
}

.breadcrumb {
  font-size: 0.8rem;
  font-weight: 100;

  li a {
    color: #1a1a1a !important;
  }

  .breadcrumb-item.active {
    color: #1a1a1a !important;
    font-weight: 500;
  }
}

.nav-tabs {
  border-bottom: 3px solid #dee2e6 !important;

  button {
    color: #1a1a1a;

    &:hover {
      color: #4e4e4e;
    }

    &:active {
      color: #1a1a1a;
    }
  }
  .nav-link {
    border: none !important ;
    border-bottom: solid 3px transparent !important;
    transition: none !important;
  }
  .nav-link.active {
    border-bottom: solid 3px #000 !important;
    margin: -3px 0;
  }
}

.tab-content {
  padding: 2rem 0;
  font-weight: 300;
}

.logo img:active {
  opacity: 0.5;
}

.hero-img {
  animation: 0.5s ease 0s normal forwards 1 fadein;
}

.product-img {
  animation: 1.4s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toast-container {
  width: 100% !important;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  .toast {
    height: 76px;
    border: none !important;

    width: 100%;
    border-radius: 0;
    background: #000;
    color: #fff;
  }
}

.toast-body {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0;
}

.toast-left {
  background: #000;
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;

  svg {
    fill: #fff;
  }
}

.toast-inner {
  height: 100%;
}

.pop {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.showGallery {
  overflow: hidden;
}

.cart-count {
  background: rgb(15, 15, 15);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold;
}

.cart-count-mobile {
  background: #000;
  color: #fff;
  border-radius: 100%;
  width: 21px;
  height: 21px;
  padding: 0.3rem;
  font-size: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 1;
}

/* Overwrite Form Styles */
.form-check-input:checked {
  background-color: #1b1b1b !important;
  border-color: #1b1b1b !important;
}

.form-control {
  font-weight: 300 !important;
}

.form-control:focus {
  border-color: #181818 !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}

.btn:hover {
  background-color: #fff !important;
  border-color: #1a1a1a !important;
  color: #1a1a1a !important;
}

.error {
  border: solid 1px red !important;
}

.category-link {
  color: #333;
  transition: 0.12s ease-in-out;

  &:hover {
    color: #5e5e5e;
  }
}

.hamburger-react {
  z-index: 4;
}

.active {
  display: flex;
}

.about__btm {
  p {
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
  }
}

@media (max-width: 575px) {
  .btn {
    padding: 1rem 0 !important;
  }

  .about__btm {
    padding: 2rem 2rem 5rem 2rem !important;
    width: initial !important;
  }

  .alternative-payment-separator {
    margin: 0 1rem;
  }

  .react-loading-skeleton {
    width: 100% !important;
  }
}

// FadeInUp Text Animation
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.Checkout__page {
  header {
    display: none;
  }
  footer:not(.footer__checkout) {
    display: none;
  }
}

.Confirm__page {
  header {
    position: initial;
  }
}

.show {
  display: block !important;
  max-height: 465px !important;
  transition: max-height 0.35s ease-in !important;
}

.hide {
  display: none !important;
}

.icon-svg--size-10 {
  width: 10px;
  height: 10px;
}

.icon-svg--color-adaptive-light {
  fill: #737373;
}

.breadcrumb__chevron-icon {
  margin: 0 0.6428571429em;
}

dl,
dd {
  margin: 0 !important;
}

.alternative-payment-separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8571428571em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #737373;
  margin-top: 2.5em;
}

.alternative-payment-separator::after,
.alternative-payment-separator::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #e6e6e6;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.alternative-payment-separator__content {
  display: inline-block;
  padding: 0 1em;
}

.gpay-button-fill > .gpay-button.white,
.gpay-button-fill > .gpay-button.black {
  padding: 20px 15% 16px !important;
}

.form-check-input:focus {
  border-color: #a9a9a9 !important;
  box-shadow: none !important;
}

.form-check-input {
  width: 18px !important;
  height: 18px !important;
  transition: all 0.2s ease-in-out;
}

.link {
  font-weight: 100;
  color: rgb(27, 27, 27);
  outline: 0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;

  &:hover {
    color: rgb(27, 27, 27);
    border-bottom: solid 1px rgb(27, 27, 27);
  }
}

.css-g1d714-ValueContainer {
  font-weight: 300;
}

.img__visible {
  opacity: 1 !important;
}

// Toast Mobile Styles
@media (max-width: 575px) {
  .toast-container {
    width: 100% !important;
    position: fixed;
    right: 0;
    top: 5.95rem;
    z-index: 1;
    .toast {
      background: #fff;
      border-radius: 0;
      width: 100% !important;
      .toast-inner {
        background: #000;
        color: #fff;

        .toast-left {
          display: none;
        }
        .toast-body {
          font-size: 0.8rem;
          font-weight: bold;
          padding: 0rem 1rem !important;
          text-transform: uppercase;
        }
      }
    }
  }

  .Checkout__page {
    .Notifications__Mobile {
            position: initial;
        }
    }
}

.mobile__menu-open {
  .Notifications__Mobile { position: initial; }
  .Header_header__2-XWX {
    position: initial;
  }
}

.content__main {
  padding: 1rem;
}

@media(max-width: 575px) {
  .btn-block {
    width: 100%;
  }
  .btn {
    padding: 0.5rem !important;
  }
}

.active {
  bottom: 0 !important;
}

.disabled {
  background: #ccc !important;
}

.fade-in {
	animation: fadeIn 0.12s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.modal__open {
  overflow: hidden;
}

.toast:not(.showing):not(.show) {
  display: none;
}

.mobile__menu-open {
  overflow: hidden;
}

.sidebarCart-open {
  overflow: hidden;
}
