.header__logo {
  display: flex;
  justify-content: center;
  width: 97%;

  img:active {
    opacity: 0.5;
  }
}

.btn__hover_scale {
  display: flex;
  position: relative;
  transition: transform 0.15s ease-out;
}

.btn__hover_scale:hover {
  opacity: 1;
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.cart__icon {
  max-width: none !important;
}

.cart__count {
  background: rgb(15, 15, 15);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: -5px;
  top: 8px;
  color: #fff;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold;
}
.header__dropdown_link {
  text-align: left;
  padding: 0.1rem 0;
  a {
    color: #333;
  }
}

@media (max-width: 575px) {
  .header {
    position: fixed;
    z-index: 1;
    top: 2.2rem;
  }
}

@media (max-width: 575px) {
  .header__signIn {
    display: none;
  }
}

.header__signIn {
  font-weight: bold;
  .header__link {
    transition: 0.12s ease-in-out;
    padding: 0 0.3rem 0 0.3rem;
    color: #9d9d9f;
    &:hover {
      color: #858585;
    }
  }
}
