.Bonita__Hero {
    // background: url('/images/bonitaprayer-colorized.jpg') center -530px no-repeat;
    height: 510px;
    width: 100%;
    border-radius: 4px;
}

@media(max-width: 575px) {
    .Bonita__Hero {
        border-radius: 0;
        background: url(/images/bonitaprayer-colorized.jpg) center -608px no-repeat !important;
    }
}