.modal__subscription {
  width: 800px;
  height: 650px;
  border-radius: 6px;
  background: #fff;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal__body {
    display: flex;
    height: 100%;
  }

  .modal__left {
    width: 50%;
    background: url(../public/images/img1200.webp) center center;
    background-size: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .modal__right {
    width: 50%;
    height: 100%;
    padding: 1rem;

    .modal__header {
      display: flex;
      justify-content: flex-end;
    }

    .form__container {
      max-width: 350px;
      padding: 10rem 2rem;
    }
  }
}

@media (max-width: 575px) {
  .modal__subscription {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transform: initial;
  }
  .modal__left {
    width: 100% !important;
  }
  .modal__right {
    width: 100% !important;
    height: 100%;
    padding: 1rem;
    position: absolute;
    bottom: -18rem;
    background: #fff;
  }

  .modal__header {
    display: none !important;
  }

  .modal__modalHeader {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  .form__container {
    max-width: 100% !important;
    padding: 2rem !important;
  }
}

@media(min-width: 575px) {
  .modal__overlay {
    background: rgba(0, 0, 0, 0.96);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(9px);
  }

  .modal__modalHeader {
    display: none;
  }  
}
