.Register__heading {
    font-size: 1.6rem;
}

.Register__subHeading {
    font-weight: 100;
}

.Register__form__container {
    max-width: 350px;
    hr {
        color: #ccc;
    }
}

.Register__confirm  {
    max-width: '420px';
    padding: 3rem 0;

    .Register__confirm__heading {
        font-weight: bold;
    }
    .Register__confirm__text {
        color: #8f8f8f;
    }

    hr {
        color: #ccc;
    }
}