.related {
  margin: 1rem 0;
  height: 320px;

  .related__heading {
    font-size: 1rem;
    font-weight: bold;
  }

  .related__slider {
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    .related__slide {
      width: 100%;
      max-width: 200px;
      height: 200px;
      position: absolute;
      transition: all 0.5s;
      padding: 0.2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        padding: 0 4px;
      }
    }

    .related__btn {
      padding: 0;
      position: absolute;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      z-index: 10px;
      cursor: pointer;
      background-color: #fff;
    }

    .related__btn:active {
      transform: scale(1.1);
    }
    .related__btn--prev {
      top: 38%;
      left: 2%;
    }

    .related__btn--next {
      top: 38%;
      right: 2%;
    }
  }
}
