.SidebarCart {
    position: fixed;
    right: 0rem;
    top: 0;
    z-index: 999;
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
    transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
    transform: translate3d(460px,0,0);

    a {
        color: #333;
        &:hover {
            color: #333;
        }
    }
}

.SidebarCart__active {
    display: block;
    transform: translate3d(0px,0,0);
}

.SidebarCart_overlay__active {
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(6px);
    display: block;
}

.SidebarCart_top {
    height: 60px;
    border-bottom: solid 1px #e3e3e3;
    padding: 2rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SidebarCart_top h1 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.SidebarCart_btm {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Checkout__note {
        font-weight: 100;
        font-size: 0.8rem; 
        letter-spacing: 1px
    }

    .SidebarCart__button {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 1.2rem 2rem !important;
        letter-spacing: 2px;
        margin: 1rem 0;
      }
}

.SidebarCart_btm {
    h3 {
        font-size: 0.77rem;
        font-weight: 100;
        margin: 1.3rem 1rem;
        text-transform: uppercase;
    }
}

@media(max-width: 545px) {
    .SidebarCart {
        width: 100%;
        top: 2rem;
    }
    .SidebarCart_top {
        padding: 2rem 1.4rem;
        height: 60px;
        
        h1 { margin: 0 auto; }
    }
    .SidebarCart_btm {
        padding: 2rem 0;
    }
}

.Checkout__wrapper {
    width: 100%;

    .Checkout__product_wrapper {
        overflow: scroll;
        max-height: 30rem;
    }

    .Checkout__product {
        display: flex;
        justify-content: space-between;
        margin: 0;
        transition: 0.12s ease-in-out;
        padding: 1rem 1.5rem;

        &:hover { background: #f6f6f6; }

        .Checkout_topImg {
            position: relative;
            display: flex;
            align-items: center; 
            a {display: flex;}
            .cart__count {
                background: rgb(15, 15, 15);
                width: 22px;
                height: 22px;
                border-radius: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                color: #fff;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                font-weight: bold;
              }

            img {
                border-radius: 100%;
            }
        }
    }

    .Checkout__right {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .Checkout__right_price {
            display: block;
            margin: 0.3rem 0;
            font-weight: bold;
        }

        .Checkout__right_btn {
            padding: 0 0.9rem;
            background: #fddada;
            border-radius: 3px;
            height: 30px;
            color: #b52525;
            align-items: center;
            display: flex;
            /* margin: 0 0rem 0 1rem; */
            font-size: 0.9rem;
            font-weight: bold;
            border: solid 1px transparent;
            transition: .12s ease-in-out;

            &:hover {
                background: #fff;
                border: solid 1px #b52525;
            }
            &:active {
                background: #fddada;
                color: #CB4E4E;
                border: solid 1px #fddada;
            }
        }
    }
    .Checkout_btm {
        margin: 0 1.3rem;
    }
}


.close__cart_scale {
    transition: transform 0.15s ease-out;
}

.close__cart_scale:hover {
    opacity: 1;
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.addToCartBtn {
    width: 100%;
    border-radius: 3px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    margin: 1.4rem 0;
    padding: 0.6rem 0;
    transition: 0.3s;
  
    &:hover:nth-last-of-type(1) {
      box-shadow: 0px 0px 0px 2px #1a1a1a;
    }
  
    &:hover:nth-last-of-type(1):after {
      width: 0%;
    }
  
    .cartBtnTxt {
      margin: 0 0.5rem;
    }
  }

  .SidebarCart__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.86);
      display: none;
      backdrop-filter: blur(6px);
      z-index: 4;

      &.SidebarCart__overlay_active {
          display: block;
      }
  }
