.SignIn__heading {
    font-size: 1.6rem;
}

.SignIn__form__container {
    max-width: 350px; 

    .SignIn__forgot__text {
        font-size: 0.9rem;
        font-weight: 100;
    }
}

.SignIn__subHeading {
    font-weight: 100;
}