.SignIn__heading {
    font-size: 1.6rem;
}

.SignIn__form__container {
    max-width: 350px; 

    .SignIn__forgot__text {
        font-size: 0.9rem;
        font-weight: 100;

        a {
            color: #5782bf
        }
    }

    hr {
        color: #ccc;
    }
}

.SignIn__subHeading {
    font-weight: 100;
}

.Signin__register {
    font-size: 1.1rem;
    .Signin__link {
        color: #5782bf;
    }
}